body{
    padding: 0;
    margin: 0;
    height: 100vh;
    justify-self: center;
    align-items: center;
    background-color: rgb(185, 176, 176);
}

.section{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slide{
    width: 500%;
    height: 500px;
    display: flex;
}

.slide input{
    display:none;
}

.st{
    width: 20%;
    transition: 2s;
}

.st img{
    width: 800px;
   height: 500px;
    object-fit: contain;
}

.nav-m{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    justify-content: center;
    display: flex;
}

.m-btn{
    border: 2px solid #828786;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
    transform: 1s;
}

.m-btn:not(:last-child){
    margin-right: 30px;
}

.m-btn:hover{
    background-color: rgb(239, 225, 205);
}

#radio1:checked ~.first{
    margin-left: 0;
}
#radio2:checked ~.first{
    margin-left: -20%;
}
#radio3:checked ~.first{
    margin-left: -40%;
}

.nav-auto{
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}

.nav-auto div{
    border: 2px solid rgb(239, 225, 205) ;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: 30px;
}

#radio1:checked ~ .nav-auto .a-bl{
    background-color: rgb(239, 225, 205);
}
#radio2:checked ~ .nav-auto .a-b2{
    background-color: rgb(239, 225, 205);
}
#radio3:checked ~ .nav-auto .a-b3{
    background-color: rgb(239, 225, 205);
}